<div class="panel-group" id="accordionHAdaptabilite">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingHAdaptabilite" ng-click="GoTo('HAdaptabilite')">
            <h2 class="panel-title">
                <a class="collapsed note note-4" data-toggle="collapse" data-parent="#accordionHAdaptabilite" data-target="#collapseHAdaptabilite">
                    Adaptabilité <b class="fa fa-coffee" aria-hidden="true"></b> <i>4/5</i>
                </a>
            </h2>
        </div>
        <div id="collapseHAdaptabilite" aria-labelledby="headingHAdaptabilite" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Ce que j'entends par "adaptabilité"</h3>
                    C'est la capacité à s'adapter et donc à être rapidement <b>efficace</b> dans une nouvelle situation.
                </div>
                <hr />
                <div>
                    <h3>Des exemples dans mon expérience</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Lors de mon arrivé sur paris pour mon master en alternance,
                                j'ai dû en une semaine : déménager, découvrir la nouvelle ville, découvrir la nouvelle école
                                et découvrir un nouveau lieu de travail.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                De plus ce nouveau travail comportait l'apprentissage de nouvelles langages : silverlight, c#, typescript,
                                et l'approfondissement d'autres : html, css, SQL.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                J'arrive à rapidement changer de sujet, c'est une des qualités qui
                                m'a été remontée.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Ainsi lorsqu'on me demande d'intervenir sur une application, je peux rapidement régler
                                le problème et revenir sur mes développements sans perdre de temps.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                    Dans le futur, je souhaite accroitre ma confiance en moi et en mon travail afin de pouvoir
                    prendre plus d'initiaves et moins déranger mes collègues avec des interrogations "inutiles".
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    <p>Cette compétence m'a servie dans tout mes projets mais surtout dans les projets suivant :</p>
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('ContratEngagement')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                        <li><a ng-click="GoProjetEtudiant('TEDX')">TED X</a></li>
                        <li><a ng-click="GoProjetEtudiant('PoussonsEnsemble')">Poussons ensemble</a></li>
                        <!--<li><a ng-click="GoProjetProfessionel('TRAVAUX')">TRAVAUX</a></li>
                        <li><a ng-click="GoProjetProfessionel('MGM')">MGM</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>