<div class="panel-group" id="accordionHCuriosite">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingHCuriosite" ng-click="GoTo('HCuriosite')">
            <h2 class="panel-title">
                <a class="collapsed note note-3" data-toggle="collapse" data-parent="#accordionHCuriosite" data-target="#collapseHCuriosite">
                    Curiosité <b class="fa fa-coffee" aria-hidden="true"></b> <i>3/5</i>
                </a>
            </h2>
        </div>
        <div id="collapseHCuriosite" aria-labelledby="headingHCuriosite" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Ce que j'entends par "curiosité"</h3>
                    La curiosité, c'est le désir de découvrir de nouvelles choses, d'en savoir plus.
                </div>
                <hr />
                <div>
                    <h3>Des exemples dans mon expérience</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Etre développeur, c'est être en constant apprentissage. Vue que les technologies ne cessent d'évoluer, il faut toujours se
                                renseigner et apprendre. Le fait d'être curieuse aide de ce côté car je suis souvent amener à chercher de moi même de nouveau
                                élément pouvant m'aider pour les projets professionels et/ou personnels.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Par exemple, dans l'écriture du portfolio, j'ai été amenée à faire des recherches sur les animations et les différentes possibilités
                                qu'elles offraient. Je suis même allé chercher au delà de mon besoin par "curiosité", pour le plaisir de découvrir. 
                            </p>
                            <p>
                                Ainsi la curiosité est comme un synonyme de motivation, de découverte et d'apprentissage. 
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                On dit souvent que "la curiosité est un vilain défaut". Je ne suis pas d'accord avec cette expression.
                                Si on est résonable, la curiosité est un atout, une valeur qui permet d'engloutir un formidable quantité d'information.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Je dirais donc que "la curiosité est un clef qui permet d'ouvrir bien des portes sur des connaissances".
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                    Cet "atout" m'a permise, me permet et me permettra de progresser continuellement dans mon domaine ! Car comme dit plus haut, c'est une clef !
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    Cette compétence a principalement servi dans les projets suivant :
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('ContratEngagement')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                        <li><a ng-click="GoProjetProfessionel('TRAVAUX')">TRAVAUX</a></li>
                        <li><a ng-click="GoProjetProfessionel('MGM')">MGM</a></li>
                        <li><a ng-click="GoProjetProfessionel('GestionTags')">Gestion des tags</a></li>
                        <li><a ng-click="GoProjetEtudiant('MeetingTracker')">Meeting tracker</a></li>
                        <li><a ng-click="GoProjetEtudiant('CheckYourSMILE')">Check your SMILE</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>