<div class="panel-group" id="accordionHPatience">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingHPatience" ng-click="GoTo('HPatience')">
            <h2 class="panel-title">
                <a class="collapsed note note-3" data-toggle="collapse" data-parent="#accordionHPatience" data-target="#collapseHPatience">
                    Patience <b class="fa fa-coffee" aria-hidden="true"></b> <i>3/5</i>
                </a>
            </h2>
        </div>
        <div id="collapseHPatience" aria-labelledby="headingHPatience" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Ce que j'entends par "patience"</h3>
                    C'est la capacité à passer du temps sur une tâche sans abandonner,
                    à appréhender une situation difficile sans craquer.
                </div>
                <hr />
                <div>
                    <h3>Des exemples dans mon expérience</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Dans le domaine du travail, je suis de nature patiente.
                                Et on peut dire que dans le domaine de l'informatique, notre patience est souvent mise à rude.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Gna gna gna.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>

                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                    {texte}
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    Un peu sur tous les projet mais voici ceux dans lesquels ce savoir-être m'a le plus servi
                    <ul>
                        <li><a ng-click="GoProjetEtudiant('MeetingTracker')">Meeting tracker</a></li>
                        <li><a ng-click="GoProjetEtudiant('CheckYourSMILE')">Check your SMILE</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>