<div class="panel-group" id="accordionHSerieux">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingHSerieux" ng-click="GoTo('HSerieux')">
            <h2 class="panel-title">
                <a class="collapsed note note-4" data-toggle="collapse" data-parent="#accordionHSerieux" data-target="#collapseHSerieux">
                    Sérieux <b class="fa fa-coffee" aria-hidden="true"></b> <i>4/5</i>
                </a>
            </h2>
        </div>
        <div id="collapseHSerieux" aria-labelledby="headingHSerieux" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Ce que j'entends par "sérieux"</h3>
                    Le fait de ne pas être distrait et de rester concentré, consciencieux ainsi que de ne pas prendre
                    les choses à la légère.
                </div>
                <hr />
                <div>
                    <h3>Des exemples dans mon expérience</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                C'est une qualité qu'on m'a souvent indiquée. Même enfant, j'ai toujours été de nature sérieuse.
                                <b>C'est avec le sérieux qu'on obtient la rigueur</b>.
                                C'est grâce à mon sérieux qu'on tend à me faire confiance.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Par exemple, c'est grâce à ceci que j'ai pû être en intéraction avec le client lors de mon poste actuel à
                                Paris.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Être trop sérieux n'est pas une bonne chose. Il faut savoir "jauger". Par exemple face au client
                                ou une personne haut gradé, le sérieux reste primordial. 
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                En équipe, quand elle est bien soudée et qu'il y a une bonne entente, une personne trop sérieuse
                                deviendrait alors ennuyante. Tout est une question de dosage.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                    Ajuster le dosage ? Je pense que c'est la seule marge de progression possible.
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    Un peu sur tous les projet mais voici ceux dans lesquels ce savoir-être m'a le plus servi
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('ContratEngagement')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                        <li><a ng-click="GoProjetEtudiant('TEDX')">TED X</a></li>
                        <li><a ng-click="GoProjetEtudiant('PoussonsEnsemble')">Poussons ensemble</a></li>
                        <!--<li><a ng-click="GoProjetProfessionel('TRAVAUX')">TRAVAUX</a></li>
                        <li><a ng-click="GoProjetProfessionel('MGM')">MGM</a></li>
                        <li><a ng-click="GoProjetProfessionel('EVERSUITE')">EVERSUITE</a></li>
                        <li><a ng-click="GoProjetProfessionel('GestionTags')">Gestion des tags</a></li>
                        <li><a ng-click="GoProjetEtudiant('MeetingTracker')">Meeting tracker</a></li>
                        <li><a ng-click="GoProjetEtudiant('CheckYourSMILE')">Check your SMILE</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>