<div class="panel-group" id="accordionPContratEngagement" aria-multiselectable="false" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingPContratEngagement" role="tab" ng-click="GoTo('PContratEngagement')">
            <h2 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionPContratEngagement"
                   expanded="true" data-target="#collapsePContratEngagement" aria-controls="collapsePContratEngagement">
                    Depuis 2016 - Contrat d'engagement
                </a>
            </h2>
        </div>
        <div id="collapsePContratEngagement" aria-labelledby="headingPContratEngagement" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="encart">
                    <div>Environnement</div>
                    <div>
                        AngularJS, Web Api, .NET, HTML, TypeScript, SASS, C#, Base de données (ORACLE avec Toad),
                        Visual studio 2015, log4net
                    </div>
                </div>
                <div>
                    <h3>Gérer des contrats</h3>
                    Cette application web a pour but de gérer des contrats entre deux parties.
                    Elle est en lien avec le projet Vue Frais // TODO lien.
                    Informations :
                    <ul>
                        <li>
                            Equipe : 8 personnes au départ, 5 à ce jour
                        </li>
                        <li>
                            Client : ADP (Aéroports de Paris)
                        </li>
                        <li>
                            Mon rôle : Développeur/Concepteur
                        </li>
                    </ul>
                </div>
                <hr />
                <div>
                    <h3>Mon rôle</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                J'ai continué les développements et corrections de ce projet lors du départ de l'entreprise
                                de la personne qui l'avait réalisé de A à Z. Avant son départ, j'ai été formé par cette personne
                                sur l'ensemble de l'application pour que je puisse prendre sa suite.
                            </p>
                            <p>
                                La difficulté était de reprendre rapidement une application que je ne connaissais pas à la base.
                                Surtout quand la personne qui possède les connaissances n'est plus présente.
                                Mais le passage de connaisance avait été fait à l'avance pour que la reprise se passe bien.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                C'est donc <b>
                                    dès son départ que j'ai pris la suite des corrections sur l'application et
                                    aussi sur les évolutions
                                </b>. Par la suite, deux autres collègues participèrent aussi sur l'application.
                            </p>
                            <p>
                                Mes tâches courantes était de corriger les anomalies rémontées par le client et de chiffrer puis
                                réaliser les évolutions demandaient. Les évolutions vont d'un simple changement de libellé jusqu'à des
                                évolutions majeures tels que le rajout d'une page complète dans l'application.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Ce que j'en ressort</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Comme je l'ai dit ci-dessus, <b>
                                    la difficulté était à la base de rapidement acquérir les connaissances sur
                                    ce projet et d'être fonctionnelle dès le départ du collègue
                                </b>.
                            </p>
                            <p>
                                La technologie était déjà connue étant donnée que j'avais déjà travaillé sur l'application Vue frais qui est
                                lié à ce projet. Ainsi le côté technique était déjà bien acquis
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                <b>Aujourd'hui</b> si on me pose une question sur cette application, si je dois former quelqu'un, si j'ai un bug à résoudre
                                ou une évolution à faire ou chiffrer, <b>je sais répondre et/ou réagir rapidement !</b>
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Les compétences liées</h3>
                    <br />
                    <h4>Les compétences humaines</h4>
                    <ul>
                        <li><a ng-click="GoCompetenceHumaine('Adaptabilite')">Adaptabilité</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Autonomie')">Autonomie</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Curiosite')">Curiosité</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Serieux')">Sérieux</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Sociabilite')">Sociabilité</a></li>
                    </ul>
                    <h4>Les compétences techniques</h4>
                    <ul>
                        <li><a ng-click="GoCompetenceTechnique('AngularJS')">AngularJS</a></li>
                        <li><a ng-click="GoCompetenceTechnique('Archi')">Architecture logicielle</a></li>
                        <li><a ng-click="GoCompetenceTechnique('BDD')">Base de données</a></li>
                        <!--<li><a ng-click="GoCompetenceTechnique('Chiffrage')">Chiffrage</a></li>-->
                        <li><a ng-click="GoCompetenceTechnique('CSharp')">C#</a></li>
                        <li><a ng-click="GoCompetenceTechnique('CSS')">CSS/SASS</a></li>
                        <!--<li><a ng-click="GoCompetenceTechnique('Documentation')">Documentation</a></li>-->
                        <li><a ng-click="GoCompetenceTechnique('HTML')">HTML</a></li>
                        <li><a ng-click="GoCompetenceTechnique('JsTs')">Javascript/Typescript</a></li>
                        <li><a ng-click="GoCompetenceTechnique('RD')">Recherche et développement</a></li>
                        <!--<li><a ng-click="GoCompetenceTechnique('Log4Net')">Log4Net</a></li>
                        <li><a ng-click="GoCompetenceTechnique('PlanDeTests')">Plan de tests</a></li>-->
                        <li><a ng-click="GoCompetenceTechnique('WebApi')">Web Api</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>