<div class="panel-group" id="accordionPContratEngagement" aria-multiselectable="false" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingPContratEngagement" role="tab" ng-click="GoTo('PContratEngagement')">
            <h2 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionPContratEngagement"
                   expanded="true" data-target="#collapsePContratEngagement" aria-controls="collapsePContratEngagement">
                    Depuis 2016 - Contrat d'engagement
                </a>
            </h2>
        </div>
        <div id="collapsePContratEngagement" aria-labelledby="headingPContratEngagement" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="encart">
                    <div>Environnement</div>
                    <div>
                        AngularJS, Web Api, .NET, HTML, TypeScript, SASS, C#, Base de données (ORACLE avec Toad),
                        Visual studio 2015
                    </div>
                </div>
                <div>
                    <h3>Gérer des contrats</h3>
                    Cette application web a pour but de gérer des contrats d'engagement entre deux parties.
                    Elle est en lien avec le projet Vue Frais.
                </div>
                <hr />
                <div>
                    <h3>Mon rôle</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                sa naissance
                            </p>
                            <p>
                                la reprise suite au départ du stagiaire
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                les taches courantes
                            </p>
                            <p>
                                assez long paragraphe
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Ce que j'en ressort</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                regard sur ce que j'ai fait et que j'aurais pu faire
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                suite
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Les compétences liées</h3>
                    <br />
                    <h4>Les compétences humaines</h4>
                    <ul>
                        <li><a ng-click="GoCompetenceHumaine('Adaptabilite')">Adaptabilité</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Autonomie')">Autonomie</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Curiosite')">Curiosité</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Serieux')">Sérieux</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Sociabilite')">Sociabilité</a></li>
                    </ul>
                    <h4>Les compétences techniques</h4>
                    <ul>
                        <li><a ng-click="GoCompetenceTechnique('AngularJS')">AngularJS</a></li>
                        <li><a ng-click="GoCompetenceTechnique('BDD')">Base de données</a></li>
                        <li><a ng-click="GoCompetenceTechnique('Chiffrage')">Chiffrage</a></li>
                        <li><a ng-click="GoCompetenceTechnique('CSharp')">C#</a></li>
                        <li><a ng-click="GoCompetenceTechnique('CSS')">CSS/SASS</a></li>
                        <li><a ng-click="GoCompetenceTechnique('Documentation')">Documentation</a></li>
                        <li><a ng-click="GoCompetenceTechnique('HTML')">HTML</a></li>
                        <li><a ng-click="GoCompetenceTechnique('JsTs')">Javascript/Typescript</a></li>
                        <li><a ng-click="GoCompetenceTechnique('Log4Net')">Log4Net</a></li>
                        <li><a ng-click="GoCompetenceTechnique('PlanDeTests')">Plan de tests</a></li>
                        <li><a ng-click="GoCompetenceTechnique('WebApi')">Web Api</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>