<div class="panel-group" id="accordionPGestionTags" aria-multiselectable="false" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingPGestionTags" role="tab" ng-click="GoTo('PGestionTags')">
            <h2 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionPGestionTags"
                   expanded="true" data-target="#collapsePGestionTags" aria-controls="collapsePGestionTags">
                    2014 - Gestion des Tags
                </a>
            </h2>
        </div>
        <div id="collapsePGestionTags" aria-labelledby="headingPGestionTags" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="encart">
                     <div>Environnement</div>
                    <div>
                        Java, JQuery
                    </div>
                </div>

                <div>
                    <h3>Sujet</h3>
                    Ce projet fût réalisé lors d'un stage de 3 mois à l'IRIT (Institut de Recherche Informatique de Toulouse). 
                    Le but étant de créer une application permettant de recensser des tags à intervalle régulier.
                </div>
                <hr />
                <div>
                    <h3>Déroulement</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Première partie :  développement de l'application java de recenssement de tag
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Deuxieme partie : ajout de fonctionnalité sur un plugin chrome
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Suite au stage</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                L'autonomie
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                premier projet concret
                            </p>
                            <p>
                                domaine de la recherche
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Les compétences liées</h3>
                    <br />
                    <h4>Les compétences humaines</h4>
                    <ul>
                        <li><a ng-click="GoCompetenceHumaine('Autonomie')">Autonomie</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Curiosite')">Curiosité</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Serieux')">Sérieux</a></li>
                    </ul>
                    <h4>Les compétences techniques</h4>
                    <ul>
                        <li><a ng-click="GoCompetenceTechnique('Documentation')">Documentation</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>