<div class="panel-group" id="accordionPTIME" aria-multiselectable="false" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingPTIME" role="tab" ng-click="GoTo('PTIME')">
            <h2 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionPTIME"
                   expanded="true" data-target="#collapsePTIME" aria-controls="collapsePTIME">
                    Depuis 2016 - TIME
                </a>
            </h2>
        </div>
        <div id="collapsePTIME" aria-labelledby="headingPTIME" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="encart">
                    <div>Environnement</div>
                    <div>
                        C#, Web Api, .NET, sass, Typescript, HTML, AngularJS, Bootstrap, Base de données (Oracle avec Toad),
                        log4net, Visual studio 2015
                    </div>
                </div>
                <div>
                    <h3>Le sujet</h3>
                    Cette application web permet de gérer les imputations hebdomadaires sur des taches. C'est à dire
                    du temps passé par jour sur les activités. En plus on traite le processus de validation des saisies,
                    des droits, des jours féries, ...
                    <br />
                    Informations :
                    <ul>
                        <li>
                            Equipe : 8 personnes au départ, 5 à ce jour
                        </li>
                        <li>
                            Client : ADP (Aéroports de Paris)
                        </li>
                        <li>
                            Mon rôle : Développeur/Concepteur
                        </li>
                    </ul>
                </div>
                <hr />
                <div>
                    <h3>Le départ</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Cette application a débutée en 2016 et subit encore des évolutions aujourd'hui, mi 2017.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                J'ai pu participer à la mise en place de ce projet et je participe toujours à ce dernier
                                pour des évolutions et des corrections d'anomalies avec un autre développeur.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Le développement</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Lors du premier lot de cette application, on réalisa une version contenant
                                les fonctionnalités de bases demandées par le client.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Puis au fur et à mesure des lots, on ajoute des fonctionnalités plus complexes
                                afin de répondre à tous les besoins du client.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Le point critique</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Dernièrement nous travaillons sur le simplification et la clairté du code
                                dans l'idée que si un nouveau développeur arrive sur le projet, qu'il
                                puisse facilement comprendre le fonctionnement de l'application.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Ensuite, avec l'expérience on constate que nous réalisons plus rapidement
                                et plus proprement les tâches.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Les compétences liées</h3>
                    <br />
                    <h4>Les compétences humaines</h4>
                    <ul>
                        <li><a ng-click="GoCompetenceHumaine('Adaptabilite')">Adaptabilité</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Autonomie')">Autonomie</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Curiosite')">Curiosité</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Serieux')">Sérieux</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Sociabilite')">Sociabilité</a></li>
                    </ul>
                    <h4>Les compétences techniques</h4>
                    <ul>
                        <li><a ng-click="GoCompetenceTechnique('AngularJS')">AngularJS</a></li>
                        <li><a ng-click="GoCompetenceTechnique('BDD')">Base de données</a></li>
                        <!--<li><a ng-click="GoCompetenceTechnique('Chiffrage')">Chiffrage</a></li>-->
                        <li><a ng-click="GoCompetenceTechnique('CSharp')">C#</a></li>
                        <li><a ng-click="GoCompetenceTechnique('CSS')">CSS/SASS</a></li>
                        <!--<li><a ng-click="GoCompetenceTechnique('Documentation')">Documentation</a></li>-->
                        <li><a ng-click="GoCompetenceTechnique('HTML')">HTML</a></li>
                        <li><a ng-click="GoCompetenceTechnique('JsTs')">Javascript/Typescript</a></li>
                        <!--<li><a ng-click="GoCompetenceTechnique('Log4Net')">Log4Net</a></li>
                        <li><a ng-click="GoCompetenceTechnique('PlanDeTests')">Plan de tests</a></li>-->
                        <li><a ng-click="GoCompetenceTechnique('WebApi')">Web Api</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>