<html lang="fr" ng-app="App">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>E-Portfolio/Julie Pélissou - EN COURS</title>
    <meta charset="utf-8" />

    <!----------------------Library------------------------->

    <link href="Library/bootstrap.min.css" rel="stylesheet">
    <link href="Library/titatoggle-dist.css" rel="stylesheet">
    <link rel="stylesheet" href="Library/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="Library/jquery-2.2.3.js"></script>
    <script src="Library/bootstrap.min.js"></script>
    <script src="Library/require.js"></script>
    <script src="Library/angular.min.js"></script>
    <script src="Library/angular-ui-router.js"></script>
    <script src="Library/angular-animate.min.js"></script>
     <script src="Library/angular-sanitize.js"></script>
    <!--<script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>-->
    <script src="Library/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <!------------------Developpemnt------------------------>
    <!--build:js scripts.min.js -->
    <script src="App/General/Main.js"></script>
    <script src="App/Competence/Competence.js"></script>
    <script src="App/Contact/Contact.js"></script>
    <script src="App/Experience/Experience.js"></script>
    <script src="App/Home/Home.js"></script>
    <script src="App/Loisir/Loisir.js"></script>
    <script src="App/Matrice/Matrice.js"></script>
    <script src="App/PopUp/PopUp.js"></script>
    <script src="Route.js"></script>
    <script src="App.js"></script>
    <!-- endbuild -->
    <!--build:css styles.min.css-->
    <link href="App/Generate/Css/Competence/Competence.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/Contact/Contact.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/Experience/Experience.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/General/CollapseCustom.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/General/NavBarCustom.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/General/StyleSheet.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/Home/Home.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/Loisir/Loisir.css" rel="stylesheet" type="text/css" />
    <link href="App/Generate/Css/Matrice/Matrice.css" rel="stylesheet" type="text/css" />
    <!--endbuild-->

    <script>
        // Pour activer tooltip et popover
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
</head>
<body ng-controller="MainController">
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        Ce site n'a pas encore été porté ni testé sur d'autres navigateurs que Chrome, ni sur téléphone.
        Veuillez utiliser Chrome si possible.
    </div>
    <div ng-if="Maintenance == '0'">
        <div class="header">
            <div class="page-header">
                <h1>E-Portfolio <small>Julie Pelissou</small></h1>
            </div>
            <div class="CV">
                <a href="assets/CV_20170521.pdf" target="_blank">
                    <b class="glyphicon glyphicon-save-file" data-toggle="tooltip" data-placement="left" title="Cliquez pour récupérer mon CV"></b>
                </a>
            </div>
            <!--<div class="lampe" ng-click="ChangeStyle()">
                <b class="glyphicon glyphicon-lamp i-m-here" data-toggle="tooltip" data-placement="left" title="Un design lumineux ?"></b>
            </div>-->
        </div>
        <div class="version">
            <p>Version : {{Version}}</p>
        </div>
        <div class="body" ng-class="{'rotate' : rotate == true, '' : rotate == false}" ng-mousedown="Rotate = true" ng-mouseup="Rotate = false">
            <!------------------
                Menus/Onglets
            ------------------->
            <!-- Menu format onglets-->
            <div class="row menu-onglet">
                <div class="col-md-8 col-md-offset-2">
                    <ul class="custom-bar nav nav-tabs nav-justified">
                        <li ng-repeat="menuItem in Menu.Items"
                            ng-class="{
                            '' : !menuItem.Active,
                            'active' : menuItem.Active
                         }">
                            <a id="link-{{menuItem.Href}}" href="#/{{menuItem.Href}}" ng-click="Menu.Change($index)"><b>{{menuItem.Name}}</b></a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Menu format button (si écran trop petit pour les onglets) -->
            <div class="menu-button" ng-click="Menu.AfficherMenuSpecial = !Menu.AfficherMenuSpecial">
                <div><i class="glyphicon glyphicon-th-list"></i></div>
            </div>

            <!-- Menu affiché au clic sur le bouton -->
            <div ng-if="Menu.AfficherMenuSpecial == true">
                <div class="menu-button-element" ng-repeat="menuItem in Menu.Items">
                    <a id="link-{{menuItem.Href}}" ng-click="Menu.Change($index)" href="#/{{menuItem.Href}}"><b>{{menuItem.Name}}</b></a>
                </div>
            </div>

            <!------------------
                Boutons fixes
            ------------------->
            <!-- Pour la matrice, à gauche -->
            <button type="button" class="btn btn-default button-fixe button-matrice" ng-click="GoMatrice()">
                <div class="glyphicon glyphicon-list"></div>
                <div>Matrice<br />Projets -<br />Compétences</div>
            </button>

            <!-- Pour le contact, à droite -->
            <button type="button" class="btn btn-default button-fixe button-contact" ng-click="GoContact()">
                <span class="glyphicon glyphicon-envelope"></span><span>Contactez-moi</span>
            </button>


            <!------------------
                Contenu principal de la page
            ------------------->

            <main class="row">
                <div class="main-content col-md-8 col-md-offset-2" ui-view></div>
            </main>

        </div>
    </div>
    <div ng-if="Maintenance == '1'" class="maintenance">
        <p>
            Le site sera bientôt disponible =^.^=
        </p>
    </div>
</body>
</html>
