<div class="home_page" ng-controller="HomeController">
    <h1>Bienvenue sur mon portfolio</h1>
    <div class="row">
        <div class="col-md-6 paragraphe little-letter">
            <div class="col-md-8">
                <p>
                    Nom : Julie Pélissou <i class="fa fa-venus" aria-hidden="true"></i>
                </p>
                <p>
                    Née le : 23/11/1994 <i class="fa fa-birthday-cake" aria-hidden="true"></i>22 ans
                </p>
                <p>
                    Poste : Concepteur - Développeur
                </p>
            </div>
            <div class="col-md-4">
                <img src="../../assets/photoMe.jpg" class="img-responsive img-circle" />
            </div>
            <div class="col-md-12">
                <h3>
                    Qui suis-je ?
                </h3>
                <p>
                    Ce que je suis : une developpeuse. On peut dire que j'aime manger du code et découvrir de nouvelles technologies
                    ou de nouvelles astuces. J'aspire à devenir experte dans le domaine des Web api.
                </p>
            </div>
        </div>
        <div class="col-md-6 paragraphe">
            <h3>
                Mon parcours étudiant
            </h3>
            <div>
                <div>
                    <span class="fa fa-square-o"></span>2015-2017 : Bac +5 Expert en Ingénierie du logiciel
                    <!--<button class="btn btn-primary detail"><i class="glyphicon glyphicon-education"></i>Détails</button>-->
                </div>
                <div>
                    <span class="fa fa-check-square-o"></span>2014-2015 : Licence pro. DQL (Développement et Qualité Logiciel)
                    <!-- <button class="btn btn-primary detail"><i class="glyphicon glyphicon-education"></i>Détails</button>-->
                </div>
                <div>
                    <span class="fa fa-check-square-o"></span>2012-2014 : DUT informatique
                    <!-- <button class="btn btn-primary detail"><i class="glyphicon glyphicon-education"></i>Détails</button>-->
                </div>
            </div>
            <h3>
                Mon parcours professionel
            </h3>
            <div>
                <div>
                    <span class="fa fa-square-o"></span>2015-2017 : Alternance à Gfi Informatique (Paris)
                   <!-- <button type="button" class="btn btn-primary detail"
                            ng-click="OpenModal()">
                        <i class="glyphicon glyphicon-briefcase"></i>Détails
                    </button>-->
                </div>
                <div>
                    <span class="fa fa-check-square-o"></span>2014-2015 : Alternance à Gfi Informatique (Toulouse)
                   <!-- <button type="button" class="btn btn-primary detail"><i class="glyphicon glyphicon-briefcase"></i>Détails</button>-->
                </div>
                <div>
                    <span class="fa fa-check-square-o"></span>2014 : Stage à l'IRIT (Institut de Recherche Informatique de Toulouse)
                    <!--<button class="btn btn-primary detail"><i class="glyphicon glyphicon-briefcase"></i>Détails</button>-->
                </div>
            </div>
        </div>
    </div>
    <!--<div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/Jz2YEvdSWZA" frameborder="0" allowfullscreen></iframe>
        </div>-->



    <div class="conseil">
        <p>
            Si vous ne savez pas par où commencer, je vous conseille le projet suivant :
            <b><a ng-click="GoProjetProfessionel('TIME')" class="glyphicon glyphicon-road" aria-hidden="true"></a></b>
        </p>
    </div>
</div>