<div class="panel-group" id="accordionEPoussonsEnsemble" aria-multiselectable="false" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingEPoussonsEnsemble" role="tab" ng-click="GoTo('EPoussonsEnsemble')">
            <h2 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEPoussonsEnsemble"
                   expanded="true" data-target="#collapseEPoussonsEnsemble" aria-controls="collapseEPoussonsEnsemble">
                    2017 - Poussons ensemble
                </a>
            </h2>
        </div>
        <div id="collapseEPoussonsEnsemble" aria-labelledby="headingEPoussonsEnsemble" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="encart">
                    <div>Environnement</div>
                    <div>
                        Pack office
                    </div>
                </div>
                <div>
                    <h3>Découverte</h3>
                    Poussons ensemble est une entreprise fictive qu'on a créé lors d'un projet étudiant dans la derniere année.
                </div>
                <hr />
                <div>
                    <h3>Créer une entreprise</h3>
                    <div class="row">
                        <div class="col-md-8 paragraphe">
                            <p>
                                Voici les consignes du projets étaient les suivantes :
                                <ul>
                                    <li>
                                        6 personnes
                                    </li>
                                    <li>
                                        5 jours (à rendre le vendredi à 12h)
                                    </li>
                                    <li>
                                        Le vendredi après midi, faire une présentation du projet
                                    </li>
                                    <li>
                                        La préparation de la présentation est incluse dans le projet
                                    </li>
                                    <li>
                                        Livrables attendus à présenter le projet aux "investisseurs" :
                                        <ul>
                                            <li>
                                                Présentation avec diaporama
                                            </li>
                                            <li>
                                                Dossier de création d'entreprise
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <div class="col-md-4 paragraphe">
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Départ</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Premier point à déterminer : l'idée. En étant 6 dans le groupe, il n'est pas facile de trouver un sujet
                                de création d'entreprise qui concerne et motive toute l'équipe. On a donc établi un brainstorming
                                de toutes les idées qui surgissaient.
                            </p>
                            <p>
                                Ce fût Romain Souyri qui trouva l'idée, l'objectif de notre entreprise : aider les gens et promouvoir le "vert".
                                On avait ainsi notre visualisation de ce qu'on voulait faire véhiculer. Ce sujet, tous le monde dans l'équipe
                                y trouva quelque chose qui le motivait. L'idée fût alors creusée, détaillée.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                On arrive ainsi à cette description (extrait du document rendu) :
                                <b>
                                    L’objectif premier de notre association est d’aider les personnes qui le nécessitent
                                    à rebondir dans leur vie via l’insertion professionnelle à travers l’agriculture locale et biologique.
                                </b>
                            </p>
                            <p>
                                Pour cela, nous formerons ces personnes à la permaculture. Les produits résultants de cette activité seront vendu sous le label BIO, à Paris,
                                l'endroits où ils ont été cultivés.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <h3>Déroulement</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Beaucoup de données à traiter, peu de temps, le combo parfait pour avoir un rendu clair et précis ! On s'organisa
                                donc rapidement. Chacun a eu son rôle dans le projet dès les premières heures. On se donna un planning aussi dès le premier jour.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                La première demi-journée était dédiée à l'organisation : définir les rôles et les priorités.
                                Le troisième jour, la recherche de données devait être terminée afin de se concentrer sur la rédaction déjà entamée.
                                Le quatrième jour, on devait finir la documentation et continuer et terminer le diaporama de la présentation.
                                La soirée du quatrième jour fût d'ailleur dédié aux répétitions.
                                Le matin du cinquième jour était pour le peauffinage.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Résultat à la fin de la semaine</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                <b>Plus on avançait dans ce projet, plus on s'impliquait</b>. On s'est réellement attaché à cette idée d'entreprise.
                                Même si le sujet n'était pas dans notre coeur de métier (l'informatique), on était comme passionnée par l'idée.
                            </p>
                            <p>
                                <b>La quantité de données qu'on a dû brasser était impressionnante</b>. Au début, on en voyait pas le bout.
                                <b>Le travail d'équipe permit de rapidement traiter l'ensemble des données rassemblées</b> et d'en sortir
                                un document architecturé et synthétisé.
                            </p>
                            <p>
                                On peut dire qu'on a eu deux phases lors de la réalisation :
                                <ul>
                                    <li>
                                        Au début, on se disait qu'il était impossible de réussir à réaliser ce travail en 1 seule semaine.
                                        Même à 6 personnes, le résultat semblait hors d'atteinte.
                                    </li>
                                    <li>
                                        Ensuite, on s'est organisé et on a pas perdu de temps pour aller droit au but ! On aimait ce qu'on
                                        était en train de réaliser et on voulait terminer proprement le dossier.
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Ainsi, à la fin de la semaine, après la présentation, on était fier du travail fournit pour la réalisation du projet.
                                On a pû enfin respirer suite à cette semaine intense, et ça avec le sourire aux lèvres !
                            </p>
                            <p>
                                Voici le document de création produit par nos soins :
                                <a href="assets/PoussonsEnsemble.pdf" target="_blank">
                                    <b class="glyphicon glyphicon-save-file" data-toggle="tooltip" data-placement="left" title="Cliquez pour le document de création de l'entreprise"></b>
                                </a>
                            </p>
                            <p>
                                Et le diaporama si vous êtes curieux :
                                <a href="assets/PoussonsEnsembleDiapo.pdf" target="_blank">
                                    <b class="glyphicon glyphicon-save-file" data-toggle="tooltip" data-placement="left" title="Cliquez pour le document de création de l'entreprise"></b>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Les compétences liées</h3>
                    <br />
                    <h4>Les compétences humaines</h4>
                    <ul>
                        <li><a ng-click="GoCompetenceHumaine('Adaptabilite')">Adaptabilité</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Autonomie')">Autonomie</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Curiosite')">Curiosité</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Serieux')">Sérieux</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Sociabilite')">Sociabilité</a></li>
                    </ul>
                    <!--<h4>Les compétences techniques</h4>
                    <ul>
                        <li><a ng-click="GoCompetenceTechnique('BDD')">Base de données</a></li>
                    </ul>-->
                </div>
            </div>
        </div>
    </div>
</div>