<div class="panel-group" id="accordionETEDX" aria-multiselectable="false" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingETEDX" role="tab" ng-click="GoTo('ETEDX')">
            <h2 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionETEDX"
                   expanded="true" data-target="#collapseETEDX" aria-controls="collapseETEDX">
                    2017 - TED X
                </a>
            </h2>
        </div>
        <div id="collapseETEDX" aria-labelledby="headingETEDX" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="encart">
                    <div>Environnement</div>
                    <div>
                        Pack office
                    </div>
                </div>
                <div>
                    <h3>L'art de captiver l'auditoire</h3>
                    Dans une idée de partage, le programme TEDx fût créé. Son principe : partager les valeurs
                    des conférences TED et l'expérience de ces dites conférences. TED, c'est l'art de captiver l'auditoire
                    lors d'une conférence, l'art d'amener le public à être passionné par ce que dit l'orateur.
                    <a href="https://www.ted.com/">Plus d'informations ici.</a>
                </div>
                <hr />
                <div>
                    <h3>Apprentissage</h3>
                    <div class="row">
                        <div class="col-md-8 paragraphe">
                            <p>
                                La consigne du cours :
                                <ul>
                                    <li>
                                        5 personnes
                                    </li>
                                    <li>
                                        5 jours (talk à présenter le vendredi après-midi)
                                    </li>
                                    <li>
                                        La présentation doit répondre aux critères suivants :
                                        <ul>
                                            <li>
                                                Un seul orateur par groupe
                                            </li>
                                            <li>
                                                Durée du talk : 5 minutes
                                            </li>
                                            <li>
                                                Intégrer la plupart des méthodologies TED servant le discours
                                            </li>
                                            <li>
                                                Présenter un sujet qui nous passionne
                                            </li>
                                            <li>
                                                Réalisation d'un diaporama contenant 10 mots maximum
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Chaque jours étaient organisés de la manière suivante :
                                        <ul>
                                            <li>
                                                Matinée : présentation de méthodologies TED avec exemples
                                            </li>
                                            <li>
                                                Après-midi : intégration des méthodologies dans la présentation
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <div class="col-md-4 paragraphe">
                            <p>
                               
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Explication</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                TED, c'est tout un monde, toute une mentalité. Le mieux pour la comprendre, c'est de
                                regarder des conférences TED (qui vous trouverez sur le site), à préciser que les conférences
                                TED sont en anglais mais on peut les trouver sous-titrés dans diverses langues.
                                Je vous conseille cette conférence <a href="https://www.ted.com/talks/shawn_achor_the_happy_secret_to_better_work"  target="_blank"> <i class="fa fa-film" aria-hidden="true" ></i></a>
                            </p>
                            <p>
                                Une conférence TED peut aborder n'importe quel sujet mais il nous amnène bien souvent à réfléchir.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                On peut comparer un talk TED à un discours de mariage.  Dans ce genre de discours, on trouve bien souvent de
                                l'humour, des anecdotes, des histoires et surtout de l'émotion et des moments forts.
                                Le public est bien souvent ému par ce discours car
                                il y participe.
                            </p>
                            <p>
                                En fait, c'est ça une conférence TED.<br />
                                On y fait véhiculer nos valeurs, nos idées et nos émotions dans ces discours.
                                On amène le public à nous suivre, à participer et à ressentir.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>L'expérience</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Quoi de mieux que pour comprendre TED que de réaliser une petite conférence TED. Ce fût notre
                                objectif pour la fin de la semaine.
                            </p>
                            <p>
                                La difficulté, c'est qu'en 5 minutes de discours, ce n'est pas facile de faire véhiculer un message
                                qui respecte le principe des 3C : Clair, Concis et Cohérent.
                                Il fallait bien architecturer le discours pour que ce message soit transmis au public sans accros.
                                C'est tout au long de la semaine, grâces aux différentes méthodologies TED, qu'on a pu préciser et clarifier
                                notre discours afin d'aller directement à l'essentiel tout en interessant notre public.
                            </p>
                            <p>
                                Une autre difficulté était de réaliser le diaporama qui servira ce discours. Car oui, les
                                diaporama de TED sont différent de ce qu'on a appris. Minimaliste. C'est le mot qui pourait
                                leur être associés. Dans l'ideal, les diapos ne devrait avoir que des images et à peine
                                quelques mots
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Oh et une autre chose : notre sujet... c'était la tomate.
                                Voici notre diaporama :
                                <a href="assets/PoussonsEnsembleDiapo.pdf" target="_blank">
                                    <b class="glyphicon glyphicon-save-file" data-toggle="tooltip" data-placement="left" title="Cliquez pour le document de création de l'entreprise"></b>
                                </a>
                            </p>
                            <p>
                                Pourquoi on a choisi la tomate ? Car c'etait un sujet qui parlait à tout le monde. Mais bien sûr, notre but
                                était de sensibiliser les gens à propos de la surconsommation et aux produits sans "âme"
                                qu'on trouve dans le commerce. Parler de la tomate nous permettais donc d'amener le sujet
                                sans fournir d'explication à rallonge et de pouvoir rapidement amener le public dans notre
                                idée.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Mon ressenti</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Quand j'ai commencé la semaine de cours TEDx, je me suis dit : "L'art de faire des conférences ?
                                Bof".<br/>
                                Quand j'ai terminé la semaine de cours TEDx, je me suis dit : "Il faut que je regarde toutes les conférences
                                dont on a parlé, c'est vraiment un principe passionant".
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Cette semaine a été vraiment enrichissante. Ca donnerait presque envie de faire soi-même une conférence TED.
                                Mais même sans pour autant vouloir en faire une, on a envie d'en regarder encore et encore.
                            </p>
                            <p>
                                La quantité et la diversité de sujets abordés est immense. Et de même concernant les possibilités de conception
                                de tels discours.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Les compétences liées</h3>
                    <br />
                    <h4>Les compétences humaines</h4>
                    <ul>
                        <li><a ng-click="GoCompetenceHumaine('Adaptabilite')">Adaptabilité</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Autonomie')">Autonomie</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Curiosite')">Curiosité</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Serieux')">Sérieux</a></li>
                        <li><a ng-click="GoCompetenceHumaine('Sociabilite')">Sociabilité</a></li>
                    </ul>
                    <!--<h4>Les compétences techniques</h4>
                    <ul>
                        <li><a ng-click="GoCompetenceTechnique('BDD')">Base de données</a></li>
                    </ul>-->
                </div>
            </div>
        </div>
    </div>
</div>