<div class="panel-group" id="accordionTAngularJS">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTAngularJS" ng-click="GoTo('TAngularJS')">
            <h2 class="panel-title">
                <a class="collapsed note note-3" data-toggle="collapse" data-parent="#accordionTAngularJS" data-target="#collapseTAngularJS">
                    AngularJS <b class="fa fa-coffee" aria-hidden="true"></b> <i>3/5</i>
                </a>
            </h2>
        </div>
        <div id="collapseTAngularJS" aria-labelledby="headingTAngularJS" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Explication</h3>
                    https://angularjs.org/ version 1.4.7
                </div>
                <hr />
                <div>
                    <h3>Dans mon expérience</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                               J'ai actuellement travaillé 4 projets avec angularJS. 3 dans le domaine professionnels qui vous
                            trouverez en lien en bas de page et 1 étudiant : ce site internet.
                            </p>
                            <p>
                                Commençons par ce site, ce portfolio. Il a été réalisé dans le cadre des mes études, entièrement de ma main.
                                J'ai mis en place l'architecture de ce site, l'interface, le contenu,... Je pense qu'il peut servir de bon
                                exemple de réalisation utilisant angularJS.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Passons sur mes expériences professionnelles. Il y a 3 applications sur lesquelles je travaille encore
                                aujourd'hui pour des évolutions ou des corrections. En plus des utilisations "standard" de l'outils, j'ai
                                pu appréhender des problèmes de performances que peut posséder angularJS ainsi quelques manières
                                de les régler.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Je connais très bien les fonctionnalités basiques d'angularJS ainsi que plusieurs spécificités ou
                                astuces de ce dernier. 
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Mais m'étant heurtée aux problèmes de performances, j'apprends encore maintenant
                                les bonnes pratiques d'utilisation pour pallier au maximum à ce problème.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                C'est en continuant mes acticités sur les projets en cours au travail que je pourrais connaître
                                encore plus Angular.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Je pense aussi prochainement regarder du côté d'angular2, qui promet d'être plus "responsive" qu'angularJS.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('Contrat')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>