<div class="panel-group" id="accordionTArchi" aria-multiselectable="false" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTArchi" role="tab" ng-click="GoTo('TArchi')">
            <h2 class="panel-title">
                <a class="collapsed note note-3" data-toggle="collapse" data-parent="#accordionTArchi"
                   expanded="true" data-target="#collapseTArchi" aria-controls="collapseTArchi">
                    Architecture logicielle <b class="fa fa-coffee" aria-hidden="true"></b> <i>3/5</i>
                </a>
            </h2>
        </div>
        <div id="collapseTArchi" aria-labelledby="headingTArchi" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Explication</h3>
                    J'entends par là la mise en place et la compréhension de l'architecture d'un logiciel.
                </div>
                <hr />
                <div>
                    <h3>Dans mon expérience</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Le premier exemple que je peux siter c'est ce site : le Portfolio. 
                                <b>J'ai entièrement concus l'architecture sans aide extérieure</b>.
                                Bien sûr, j'ai pu tester pour ce dernier différentes possibilités avant d'arriver à l'actuelle.
                            </p>
                            <p>
                               De plus, tous les projets étudiants auxquels j'ai participé. J'ai participé à la mise en place des l'architecture.
                                J'ai ainsi pu réaliser plusieurs Web api et sites web simples.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Bien entendu, l'architecture est assez simple comparée à celle de projets professionnels mais connaitre les bases reste primordial
                                pour réaliser des projets plus complexe.
                            </p>
                            <p>
                                Justement en parlant de projets professionel, lors de mon expérience sur Paris, j'ai pu appréhender et utiliser une architure complete
                                et complexe de Web Api. Je ne l'ai certe pas mise en place mais je l'utilise au quotidien et je la comprends.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Lors de la mise en place du portfolio, j'ai commis des erreurs. J'ai pu apprendre de ces dernières et
                                donc produire une architecture encore meilleure que ce que j'aurais produit si je n'avais fait aucune
                                erreur à la base.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Pour le domaine professionel, lors de la mise en place des projets, j'étais débutante à l'époque. J'ai donc très peu pu suivre
                                la mise en place de l'architecture. J'aurais aimé suivre cette mise en place aujourd'hui afin de bien mieux la comprendre. Mais je l'étudie 
                                quotidiennement afin d'en appréhender toutes les subtilités.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                <b>Pour progresser dans ce domaine, la seule solution est de pratiquer</b> et donc de mettre en place des projets.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                C'est justement ce à quoi je m'entraide avec ce site web et de futurs projets planifiés.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('Contrat')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>