<div class="panel-group" id="accordionTBDD">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTBDD" ng-click="GoTo('TBDD')">
            <h2 class="panel-title">
                <a class="collapsed note note-3" data-toggle="collapse" data-parent="#accordionTBDD" data-target="#collapseTBDD">
                    Base de données <b class="fa fa-coffee" aria-hidden="true"></b> <i>3/5</i>
                </a>
            </h2>
        </div>
        <div id="collapseTBDD" aria-labelledby="headingTBDD" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Explication</h3>
                    <b>J'inclus les languages SQL et PL SQL</b> et le fait d'importer et d'exporter des dumps de bases.
                </div>
                <hr />
                <div>
                    <h3>Dans mon expérience</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                               Lors de mon parcours étudiant, j'ai travaillé principalement avec MySQL. 
                                Dans le domaine professionel, j'ai uniquement travaillé avec Oracle.
                            </p>
                            <p>
                                Les gestionnaires que j'ai utilisés sont SQLDeveloppeur ainsi que Toad pour Oracle,
                                Pour MySQL, j'ai uniquement utilisé l'invite de commande windows
                            </p>
                            <p>
                                J'ai surtout fait des scripts SQL standard. C'est à dire
                                des INSERT, UPDATE, DELETE plus ou moins complexes pour gérer les données d'une application.
                                Ainsi que la création de schéma, de base et des créations de tables.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                               Dans mon parcours professionel, j'ai pu réaliser mes premiers scripts en PL SQL et mes
                                premières procédures stockées.
                            </p>
                            <p>
                                Les premières procédures étaient dédiés à une insertions de données provenant d'un fichier.
                                Dès ces procédures j'ai dû travailler sur les performances car il y avait près d'un million
                                de lignes à traiter rapidement.
                            </p>
                            <p>
                                Au fur et à mesures de l'avancement des projets, j'ai acquis des subtilités du langage afin
                                de réaliser des procédures au maximum optimisées et claires.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Dans un premier temps, quand j'ai commencé à apprendre le PL SQL,
                                j'ai dû acquérir les normes de codage de l'équipe.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Même maintenant, j'apprends encore d'autres astuces du langage qui
                                permettent de grandement simplifier le code.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                    Il me reste encore des possibilités qu'offre le langage qui me sont encore inconnues et qu'il me reste à
                    apprendre. C'est avec l'expérience que je pourrais les acquérir.
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('Contrat')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                        <!--<li><a ng-click="GoProjetProfessionel('TRAVAUX')">TRAVAUX</a></li>
                        <li><a ng-click="GoProjetProfessionel('MGM')">MGM</a></li>
                        <li><a ng-click="GoProjetEtudiant('MeetingTracker')">Meeting tracker</a></li>
                        <li><a ng-click="GoProjetEtudiant('CheckYourSMILE')">Check your SMILE</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>