<div class="panel-group" id="accordionTCSharp">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTCSharp" ng-click="GoTo('TCSharp')">
            <h2 class="panel-title">
                <a class="collapsed note note-3" data-toggle="collapse" data-parent="#accordionTCSharp" data-target="#collapseTCSharp">
                    C# <b class="fa fa-coffee" aria-hidden="true"></b> <i>3/5</i>
                </a>
            </h2>
        </div>
        <div id="collapseTCSharp" aria-labelledby="headingTCSharp" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Explication</h3>
                    Utilisation du langage C# avec visual studio 2010 et 2015
                </div>
                <hr />
                <div>
                    <h3>Dans mon expérience</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                C'est lors de mon arrivée à Paris que j'ai utilisé
                                pour la premier fois ce langage.
                                Connaissant déjà le Java, j'ai rapidement pu apprendre à écrire
                                en C#. J'ai juste dû m'habituer aux quelques "subtilités" du langage.
                            </p>
                            <p>
                                Les éléments tel que linq, les commentaires "summary", je les ai découvertes au fur
                                et à mesure.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                <b>Le C# m'a servi pour le côté back des projets sur lesquels j'ai travaillé</b>. Tout le côté serveur
                                est avec ce langage.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Le point sur lequel je travaille le plus est la rigueur de
                                codage.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Le regard critique que j'ai s'applique sur tout les langages que je connais
                                en général : c'est à dire tester avec plus rigueur et réaliser un code plus clair.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                    Je pense que je devrais regarder du côté des librairies ou outils
                    disponibles pour le langage ou même dans visual studio.
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('Contrat')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                        <!--<li><a ng-click="GoProjetProfessionel('TRAVAUX')">TRAVAUX</a></li>
                        <li><a ng-click="GoProjetProfessionel('MGM')">MGM</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>