<div class="panel-group" id="accordionTCSS">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTCSS" ng-click="GoTo('TCSS')">
            <h2 class="panel-title">
                <a class="collapsed note note-4" data-toggle="collapse" data-parent="#accordionTCSS" data-target="#collapseTCSS">
                    CSS SASS <b class="fa fa-coffee" aria-hidden="true"></b> <i>4/5</i>
                </a>
            </h2>
        </div>
        <div id="collapseTCSS" aria-labelledby="headingTCSS" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Explication</h3>
                    Langage CSS et SASS
                </div>
                <hr />
                <div>
                    <h3>Dans mon expérience</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p> 
                                J'ai découvert le SASS lors de mon arrivée sur paris. Connaissant déjà le langage CSS depuis 
                                le début de mes études post-BAC, j'ai rapidement pû apprendre ce langage qui simplifie 
                                grandement l'utilisation du CSS.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Aussi bien dans le domaine étudiant que dans le domaine professionel, quand je devais utiliser 
                                ce langage dans un projet, je créé (ou utilisait s'il existait déjà) un fichier général qui contient
                                toutes les variables (pour la SASS) et toutes les propriétés générales et un fichier par page afin
                                que pouvoir plus facilement lire le code.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Le plus dur dans ce langage est de le rendre clair et d'éviter la répétition, 
                                surout lorsqu'on est plusieur à coder.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Pour éviter au maximum la répétition, il faut communiquer avec l'équipe pour indiquer ou demander si ce
                                qu'on cherche existe ou s'il faut le créer.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                   Je compte continuer à travailler sur la clairté du code et sur les éléments pouvant aider à simplifier le langage.
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('Contrat')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                        <!--<li><a ng-click="GoProjetEtudiant('MeetingTracker')">Meeting tracker</a></li>
                        <li><a ng-click="GoProjetEtudiant('CheckYourSMILE')">Check your SMILE</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>