<div class="panel-group" id="accordionTHTML">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTHTML" ng-click="GoTo('THTML')">
            <h2 class="panel-title">
                <a class="collapsed note note-4" data-toggle="collapse" data-parent="#accordionTHTML" data-target="#collapseTHTML">
                    HTML <b class="fa fa-coffee" aria-hidden="true"></b> <i>4/5</i>
                </a>
            </h2>
        </div>
        <div id="collapseTHTML" aria-labelledby="headingTHTML" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Explication</h3>
                    Je parle ici du langage HTML5.
                </div>
                <hr />
                <div>
                    <h3>Dans mon expérience</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                               J'ai utilisé le HTML dans des web api avec et sans AngularJS et aussi pour des sites sans côté serveur.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                               Bien sur le HTML seul ne donne rien de très ergonomique mais il est le socle des sites web, 
                                l'architecture des différentes pages.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Quand j'ai commencé à apprendre le langage et à l'utiliser pour des projets étudiants,
                                que ce soir moi ou l'équipe avec laquelle je travaillais, on codait tout nous même.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Avec le recul je pense qu'on aurait dû regarder les différentes librairies existantes pour 
                                les fonctionnalités qu'on désirait. Cela nous aurait permis de gagner du temps et de l'énergie
                                dans nos développements.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                    Je vais continuer à suivre les évolutions du langage ainsi que les différentes librairies pouvant être utilisées avec.
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('Contrat')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                        <!--<li><a ng-click="GoProjetEtudiant('MeetingTracker')">Meeting tracker</a></li>
                        <li><a ng-click="GoProjetEtudiant('CheckYourSMILE')">Check your SMILE</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>