<div class="panel-group" id="accordionTJsTs">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTJsTs" ng-click="GoTo('TJsTs')">
            <h2 class="panel-title">
                <a class="collapsed note note-3" data-toggle="collapse" data-parent="#accordionTJsTs" data-target="#collapseTJsTs">
                    Javascript Typescript <b class="fa fa-coffee" aria-hidden="true"></b> <i>3/5</i>
                </a>
            </h2>
        </div>
        <div id="collapseTJsTs" aria-labelledby="headingTJsTs" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Explication</h3>
                    Je parle ici des langages JavaScript et TypeScript.
                </div>
                <hr />
                <div>
                    <h3>Dans mon expérience</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                               Je connais le langage JavaScript depuis le début de mes études supérieures et je l'ai utilisé
                                dans plusieurs de mes projets étudiants (ainsi que ce site web).
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Le langage TypeScript quant à lui je l'ai découvert lors de mon arrivée sur Paris. Vue que je connaissais
                                déjà le Javascript, j'ai juste eu à m'habituer à la syntaxe de ce dernier.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Je dirais aujourd'hui que je code aussi bien en TypeScript qu'en JavaScript. J'ai pris l'habitude de
                                coder dans les deux langages.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                               Je connais beaucoup de "pièges" de ces deux langages mais je souhaite encore progresser afin de devenir
                                experte dans ces deux langages.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                    Je compte regarder les différentes librairies permettant d'enrichir le langage
                    (que ce soit pour le JavaScript ou pour le TypeScript).
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('Contrat')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                        <!--<li><a ng-click="GoProjetEtudiant('MeetingTracker')">Meeting tracker</a></li>
                        <li><a ng-click="GoProjetEtudiant('CheckYourSMILE')">Check your SMILE</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>