<div class="panel-group" id="accordionTRD" aria-multiselectable="false" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTRD" role="tab" ng-click="GoTo('TRD')">
            <h2 class="panel-title">
                <a class="collapsed note note-4" data-toggle="collapse" data-parent="#accordionTRD"
                   expanded="true" data-target="#collapseTRD" aria-controls="collapseTRD">
                    Recherche et Développement <b class="fa fa-coffee" aria-hidden="true"></b> <i>4/5</i>
                </a>
            </h2>
        </div>
        <div id="collapseTRD" aria-labelledby="headingTRD" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Explication</h3>
                    Je parle ici de la pratique de la recherche et du développement dans mon domaine d'activité.
                    Quant on travaille dans le domaine de l'informatique, si on veut rester performant,
                    il faut quotidiennement se renseigner sur les technologies et leurs mise à jours.
                </div>
                <hr />
                <div>
                    <h3>Dans mon expérience</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Quand je commence un projet, je me renseigne toujours sur la technologie quelle me soit
                                connue ou inconnue. Ca me permet de pouvoir commencer ce dernier sereinnement.
                            </p>
                            <p>
                                Au cours d'un projet, je regarde les "news" de l'environnement afin de me tenir
                                informée et pour pouvoir les appliquer si besoin.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                               Même personnellement, <b>
                                        j'effectue régulièrement des projets personnels afin de tester
                                        de nouveaux langages, de nouvelles librairies, ...
                                    </b>
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                A l'époque où j'ai commencé l'informatique, je me contentais juste des cours.
                                J'ai vite compris que si on veut réellement progresser, il faut travailler aussi
                                de son côté.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                J'aurais juste préféré commencer plus tôt à faire des projets personnels afin de tout mettre en
                                application. Mais faute de pouvoir changer ça, je continue d'en faire aujourd'hui.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Je pense juste continuer ce que je fais aujourd'hui pour progresser encore et encore.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('Contrat')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>