<div class="panel-group" id="accordionTWebApi">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTWebApi" ng-click="GoTo('TWebApi')">
            <h2 class="panel-title">
                <a class="collapsed note note-3" data-toggle="collapse" data-parent="#accordionTWebApi" data-target="#collapseTWebApi">
                    Web api <b class="fa fa-coffee" aria-hidden="true"></b> <i>3/5</i>
                </a>
            </h2>
        </div>
        <div id="collapseTWebApi" aria-labelledby="headingTWebApi" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Explication</h3>
                    Je parle ici des web api .net avec Visual studio.
                </div>
                <hr />
                <div>
                    <h3>Dans mon expérience</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Tout les projets professionel que je présente dans ce portfolio sont des
                                Web api. De plus on peut compter ce portfolio dans mes expériences.
                            </p>
                            <p>
                                De plus, pour tout ces projets, j'ai pu participer à leurs mise à place. 
                                Dans le domaine professionel, on a mis en place ces architectures grâce à l'aide
                                d'expert. Pour ce portfolio, j'ai tout mis en place seule de A à Z.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                Ainsi, tout les jours au travail j'utilise les web api pour mes taches quotidiennes.
                                C'est à dire pour faire des évolutions majeures et mineures sur les applications, des
                                corrections, etc...
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>
                                Dire que je maîtrise totalement les web api est faux, mais j'estime pour les utiliser
                                correctement pour arriver à mes fins. J'en comprend le fonctionnement, je sais les mettre
                                en place et les utiliser.
                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>
                                C'est pour cela que je trouve que j'ai un niveau avancé dans ce domaine, même si j'ai
                                encore un long chemin à parcourir.
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                   Afin d'avoir une plus grande maîtrise des Web api, je compte mettre en place d'autres
                    projets de ce formats pour mes propres besoin.
                    Car après tout, <b>c'est en forgeant qu'on devient forgeron</b>.
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('Contrat')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>