<div class="panel-group" id="accordionTWebApi">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTWebApi" ng-click="GoTo('TWebApi')">
            <h2 class="panel-title">
                <a class="collapsed note note-3" data-toggle="collapse" data-parent="#accordionTWebApi" data-target="#collapseTWebApi">
                    Web api <b class="fa fa-coffee" aria-hidden="true"></b> <i>3/5</i>
                </a>
            </h2>
        </div>
        <div id="collapseTWebApi" aria-labelledby="headingTWebApi" class="panel-collapse collapse">
            <div class="panel-body">
                <div>
                    <h3>Explication</h3>
                    
                </div>
                <hr />
                <div>
                    <h3>Dans mon expérience</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>

                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Regard critique</h3>
                    <div class="row">
                        <div class="col-md-6 paragraphe">
                            <p>

                            </p>
                        </div>
                        <div class="col-md-6 paragraphe">
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Evolution</h3>
                   
                </div>
                <hr />
                <div>
                    <h3>Réalisation</h3>
                    <ul>
                        <li><a ng-click="GoProjetProfessionel('TIME')">TIME</a></li>
                        <li><a ng-click="GoProjetProfessionel('Contrat')">Contrat d'engagement</a></li>
                        <li><a ng-click="GoProjetProfessionel('VueFrais')">Vue frais</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>