@import '../General/Variables.scss';

.experience_page, .competence_page {
    b {
        color: $text_color_hover;
    }

    $marge-toggle: 260px;

    .panel-title {
        font-size: 20px;
    }

    .detail {
        padding-top: $padding_text;
    }

    .en-tete {
        padding-top: $padding_text;
        padding-bottom: $padding_text;
    }

    .select-menu {
        width: 99.05%;
        padding-top: $padding_text;
        margin: auto;
        margin-bottom: -1px;
    }

    .content {
        width: 99%;
        background-color: $background_color_body;
        border: 1px solid $border_color;
        padding: $padding_text;
        margin: auto;
    }

    .liste {
        height: 25px;
    }


    .title {
        & > div {
            display: inline-block;
        }

        .checkbox-slider--b input + span:after {
            background-color: $text_color;
        }


        .checkbox-slider--b input:checked + span:before {
            background-color: $text_color_hover;
        }
    }

    .radio label, .checkbox label {
        padding-left: 32px;
    }

    .toggle {
        padding-top: $padding_text*2;
        padding-left: 130px;
        width: 500px;

        span {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .radio label, .checkbox label {
        font-weight: bold;
        font-size: large;
    }

    .checkbox-slider--b input + span:before {
        margin-left: $marge-toggle;
    }

    .checkbox-slider--b input:checked + span:after,
    .checkbox-slider--b input:checked + span:after {
        margin-top: $padding_text*2;
        margin-left: $marge-toggle+20px;
    }

    .checkbox-slider--b input + span:after,
    .checkbox-slider--b input + span:after {
        margin-top: $padding_text*2;
        margin-left: $marge-toggle;
    }

    .progress {
        width: 20%;
        display: inline-block;
        margin-bottom: -2px;
    }

    .niveau {
        height: 25px;
        width: 100%;
        margin-left: 15%;
        margin-top: 70px;
    }

    .fa-coffee {
    }

    .note-5 {
        b {
          background: linear-gradient(to top, $secondary_color 0%, $secondary_color 100%);
        }
    }

    .note-4 {
        b {
            background: linear-gradient(to top, $secondary_color 70%, $text_color 80%);
        }
    }
    .note-3 {
        b {
            background: linear-gradient(to top, $secondary_color 55%, $text_color 65%);
        }
    }
    .note-2 {
        b {
            background: linear-gradient(to top, $secondary_color 35%, $text_color 45%);
        }
    }
    
    .note-1 {
        b {
            background: linear-gradient(to top, $secondary_color 20%, $text_color 30%);
        }
    }

    .note {
        b {
            font-size: 25px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        i {
            font-size: 12px;
        }
    }
}
